Search: <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

<mat-grid-list cols="6" rowHeight="400px">
  <mat-grid-tile *ngFor="let book of books | async">
    <mat-card class="book-card" routerLink="/details/{{book.id}}">
      <mat-card-header>
        <mat-card-title>{{book.title}}</mat-card-title>
        <mat-card-subtitle>{{book.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{book.thumbnailUrl}}" alt="{{book.title}} thumbnail">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
