<div>
  <p>title: {{book.title}}</p>
  <p>subtitle: {{book.subtitle}}</p>
  <p>authors: {{book.authors}}</p>
  <p>publisher: {{book.publisher}}</p>
  <p>publishedDate: {{book.publishedDate}}</p>
  <p>description: {{book.description}}</p>
  <p>isbn: {{book.isbn}}</p>
  <p>pageCount: {{book.pageCount}}</p>
  <p>categories: {{book.categories}}</p>
  <div *ngIf="book.urlAndPrice">
    <p>price: <a href="{{book.urlAndPrice.url}}">{{book.urlAndPrice.price}}</a></p>
  </div>

  <button (click)="goBack()">go back</button>
</div>
